$white: #ffffff;
$black: #000000;
$main: #24292f;

$regular_font_weight: 400;

$main_offset: 32px;

$desktop_header_height: 80px;
$mobile_header_height: 60px;
$desktop_footer_height: 100px;
$mobile_footer_height: 150px;

$breakpoint_desktop: 1200px;
