$white: #ffffff;
$black: #000000;
$charleston_green: #24292f;
$platinum: #e5e5e5;

$regular_font_weight: 400;

$main_offset: 32px;
$secondary_offset: 16px;

$desktop_header_height: 80px;
$mobile_header_height: 60px;
$desktop_footer_height: 100px;
$mobile_footer_height: 150px;

$breakpoint_desktop: 1200px;
