@import "../../styles/scss/base";

.title {
  margin-bottom: $main_offset;

  @include text_large_regular;
}

.list {
  margin-bottom: $main_offset;
}

.listItem:not(:last-child) {
  margin-bottom: $secondary_offset;
}
